table {
    width: 96%;
    border: solid rgb(41, 41, 42) 1px;
    float: left;
    text-align: center;
    text-transform: uppercase;
    margin: 2%;
}
td {
    border: solid rgb(41, 41, 42) 1px;
}
tr {
    font-size: 1.2rem;
    font-weight: bold;
    height: 10vh;
}

.row {
    font-size: 1rem;
    font-weight: normal;
    height: 8vh;
}

.row:hover {
    background-color: rgb(220, 217, 217);
    color: rgb(42, 41, 41);
    cursor: pointer;
}
